canvas {
    border: 2px solid black;
    background-color: black;
}
video {
    display: none;
}

#backB{
    margin: 1em 0em 0em 1em;
    min-width: 7.25em;
    max-height: 5.0em;
}

.app-desc{
    text-align: center;
}

#wrapper{
    width: 32em;
    max-width: calc(100% - 4em);
    margin: 0 auto;
}

#footer{
    width: 32em;
    max-width: calc(100% - 4em);
    margin: 0 auto;
}

.sample1{
    width: 32em;
    max-width: calc(100% - 4em);
    margin: 0 auto;
}

.inputButtons{
    width: 32em;
    max-width: calc(100% - 4em);
    margin: 0 auto;
    padding-top: 2em;
    padding-bottom: 1em;
}

.viewCode{
    width: 32em;
    max-width: calc(100% - 4em);
    margin: 0 auto;
    padding-top: 2em;
    padding-bottom: 1em;
}

a.vcButton{
    width: 100%;
    box-shadow: inset 0 0 0 1px #dddddd;
    color: #ffffff !important;
    font: inherit;
    vertical-align: baseline;
    border-radius: 8px;
    border: 0;
    border-bottom-color: currentcolor;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    font-size: 1.25em;
    height: 2.75em;
    line-height: 2.75em;
    padding: 0;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.4s !important;
    -moz-transition: 0.4s !important;
    -webkit-transition: 0.4s !important;
    -ms-transition: 0.4s !important;

    background-color: #935d8c;

}

.vcButton:hover{
    background-color: rgb(255, 255, 255);
    color: #935d8c !important;
    border-bottom-color: transparent
}
